body{
    background-color: black;
    text-align: center;
    margin-top:100px;


}

.panel{
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor:pointer;
}

.panel:hover{
    box-shadow:inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;

     
}
.bottom-right-panel{
    background-color: red;
    border-bottom-right-radius: 100%;
}
.bottom-left-panel{
    background-color: rgb(20, 20, 141);
    border-bottom-left-radius: 100%;
   
}
.top-right-panel{
    background-color: green;
    border-top-right-radius: 100%;
   
}
.top-left-panel{
    background-color:yellow;
    border-top-left-radius: 100%;    
}


.active{
    background-color: white;
}

.center{
    
    position:absolute;
    width: 200px;
    height:200px;
    border-radius: 100%;
    transform:translate(-50%,-50%);
    background-color: rgb(5, 5, 5);
    top: 50%;
    left: 50%;

}
